
#featured-content {
    .large-container{
        .row{
            .col-2{
                padding: 2rem;
                align-content: center;
                text-align: center;
              
            }

        }
    }
}

@media (max-width:767px){
    
  
}