@import "./main.css";
@import "./_header";
@import "./_store-about";
@import "./_product";
@import "./_product-about";
@import "./_featured";
@import "./_featured-content";
@import "./_variables";
@import "./_introducing";
@import "./_testimonial";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin store-btn{
  button{
    background: black;
    padding: 1rem 3rem;
    color: white;
    border: none;
    border: 1px solid white;
  }
}


@mixin leftRight{
  padding: 5rem;
  justify-content: center;
  h2{
      font-size: $fontSize;
      padding-bottom: 3rem;
      span{
        padding-left: .5rem;
        font-weight: 100;           
      }
  }
  p{
     font-size: 15px;
     padding-bottom: 4rem;
  }
}


html {
    font-size: 10px;
  }
  
  body {
    background: #e6e4de;
    font-family: "Open Sans", sans-serif;
  }
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .small-container {
    padding: 0 2rem;
    width: 100%;
  }
  .large-container {
    padding: 0 7rem;
    width: 100%;
  }
  
  .col-1 {
    width: calc(100% / 12);
  }
  
  .col-2 {
    width: calc(100% / 12 * 2);
  }
  .col-3 {
    width: calc(100% / 12 * 4);
  }
  .col-4 {
    width: calc(100% / 12 * 3);
  }
  .col-5 {
    width: calc(100% / 12 *5);
  }
  .col-6 {
    width: calc(100% / 12 * 6);
  }
  
  .col-10 {
    width: calc(100% / 12 * 10);
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .store-btn > button {
    background: black;
    padding: 1rem 3rem;
    color: white;
    border: none;
    border: 1px solid white;
  }
  
  .store-btn > button:hover {
    background-color: #cecac3;
    color: black;
  }
  
  section {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 767px) {
    html {
      font-size: 7px;
    }
  }

 